@charset 'utf-8';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section{
    width: 90%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 40px auto 0;
    border: 1px dashed #ccc;
    text-align: center;
}

h2{
    margin-bottom: 1em;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.flex-item{
    background: #09b;
    color: #fff;
    padding: 1em;
    flex-basis: 30%;
}

.flex-item dt{
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

@media screen and (min-width: 480px){
    h2{font-size: 1.1em;}
    .flex-container{
        flex-direction: column;
    }
    .flex-item{margin: 0 1em 1em;
    }
    
}