@charset 'utf-8';

section{
    width: 200px;
    /* height: 200px; */
    background: skyblue;
    margin-bottom: 150px;
}

section img{
    max-width: 100%;
}

.relative img{
    position: relative;
    top: 60px;
    left: 100px;
}

.absolute{
    position: relative;
}

.absolute img{
    position: absolute;
    right: 0;
    top: 80px;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    background-color: crimson;
    width: 100%;

}

.sticky{
    display: flex;
    margin-top: 40vh;
    margin-bottom: 150vh;
    border: 3px solid gray;

}

.box{
    background: pink;
    width: 150px;
    height: 150px;

    position: sticky;
    top: 50px;
    

}