@charset 'utf-8';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
    display: block;
    min-width: 100%;

}

body{
    background: #e2d0bc;

}

section{
    width: 1000px;
    margin: 0 auto;
    max-width: 100%;
    height: 600px;
    position: relative;
}

.text-box{
    width: 600px;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: 320px;
    left: 0;

    /* フォントの指定 */
    font-family: "游明朝",YuMincho,serif;

    /* ドロップシャドウ */
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
    /* X方向　Y方向 　ぼかし　広がり　色　inset（内側シャドウ）*/

}

h2{
    font-size: 1.8em;
    margin-bottom: 0.5em;
    
}
.img-box{
    width: 70%;
    margin-left: 30%;

}
@media screen and (max-width: 480px){
    section{
    width:  100%;
    height: 600px;
    }
    .text-box{
        width: 90%;
        top: 60vw;
        left: 0;
    }
    h2{
        font-size: 1.3em;
        margin-bottom: 0.5em;
        
    }
    .img-box{
        width: 100%;
        margin-left: 0;

    }
    
}