@charset 'utf-8';

/* レイアウト */
body{
    background: #eee;   
}

h1{
    font-size: 1.5em;
    color: #1b9aaa;
    text-align: center;
    margin: 40px 0 20px;

}

form{
    width: 90%;
    max-width: 800px;
    margin: 0 auto 40px;
    background: #fff;
    padding: 40px 0;
}
dl{
    margin: 0 auto;
    widows: 500px;
}
.form-item{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

dt{
    width: 200px;
}

dd{
    width: 300px;
}