@charset 'utf-8';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slideshow{
    width: 90%;
    margin: 40px auto;
    position: relative;
    aspect-ratio: 16/9;
    /* 16:9で場所を確保 */
}

.slideshow img{
    display: block;
    /* 画像と画像の余白なくす */

    border-radius: 20px;
    /* 角丸 */

    max-width: 100%;
    /* 親に対して100% */
    
    position: absolute;
    /* 画像を重ねる */

    top: 0;
    left: 0;
    /* 画像がずれることなく同じ位置 */

}
@keyframes slideshow{
    0%{
        opacity: 0;
    }

    8.3%{
        opacity: 1;
    }
    /*  8.3%,24.9%{opacity: 1;}まとめて書ける */

    24.9%{
        opacity: 1;
    }
    33.3%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
.slideshow img{
    animation: slideshow 12s infinite ba;
}

.slideshow img:nth-child(2){
    animation-delay: 3s;
}

.slideshow img:nth-child(3){
    animation-delay: 6s;
}

.slideshow img:nth-child(4){
    animation-delay: 9s;
}