@charset 'utf-8';

div{
    width: 100px;
    height: 100px;
    padding: 1em;
    margin: 2em 2em 4em;
    background: #ad4444;
    color: #fff;
    font-size: 14px;
}

.width{
    transition: width 0.5s cubic-bezier(1,.71,.64,-0.02) 0s, background 1s;


    /*アニメーション対象のプロパティ （初期値：all）
     transition-property: width, backgreound;*/

    /* アニメーション時間
    transition-duration: 0.5S; */

    /* イージング
    transition-timing-function: ease-out; */

    /*遅延時間
     transition-delay: 0s;　 */
}
.width:hover{
    width: 400px;
    background: blueviolet;
}
.cricle{
    transition: border-radius 0.2s;
}
.cricle:hover{
    border-radius: 50%;
}
.scale{
    transition: transform 2s ease-in-out ;
}
.scale:hover{
    transform: scale(1.5);
    /* scaleX(1.5) scaleY(1.5) */
    /* scale: 1.5; */
    transition: transform 0.5s ease-in-out 1s;
}

@keyframes zigzag{
    0%{
        transform:translate(0,0);
        background: yellow;
    }
    50%{
        transform: translate(50px,50px);
    }
    100%{
        transform: translate(100px,0);
    }
}
.sample1{
    animation: zigzag 2s ease 2s 3 normal both;
    /* この１行は以下の４つのプロパティをまとめたもの */

    /* 実行するアニメーション名
    animation-name: zigzag;　（zigzagという名前のアニメーションを実行）

     アニメーション時間
    animation-duration: 2s　（２秒かけてアニメーションを実行）

    イージング（アニメーション変化の度合）
    animetion-timing-functhion: ease; (easeで変化する）

    遅延時間（どれくらい開始を遅らせるか）
    animation-delay:0s;　（０秒遅らせる＝遅らせない）

    繰り返し回数
    animetion-iterarion-function: 3;　（３回繰り返す）

    アニメーションの方向
    animation-direction: normal;
    値一覧
    再生：nomal
    逆再生：reverse
    折り返し：alternate
    逆折り返し：alternate-reverse

    再生前と再生後のスタイルの適用
    animation-fill-mode: both;
    値一覧
    指定なし：none
    再生前は@keyframesの０％、再生後は１００％のスタイルをキープ：both
    再生後は１００％のスタイルをキープ：forwards
    再生後は０％のスタイルに戻る：backwards 
    
    アニメーションの再生・一時停止
    animateion-play-state paused;
    値一覧
    running：再生
    paused：一時停止
    */
}

@keyframes scale-and-color{
    0%{
        background: #ad4444;
        transform: scale(1);
    }
    50%{
        background: #3946ad;
        transform: scale(1.5);
    }
    100%{
        background: #4dad48;
        transform: scale(1);
    }
}

.sample2{
    animation: scale-and-color 4s linear 0s infinite alternate;
       
}

img{
    width: 100px;
    margin-right: 2em;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(180deg);}
    100%{
        transform: rotate(360deg);
    }

}
.sample3{
    animation: loading 1s linear 0s infinite ;
}
@keyframes heart{
    0%{
        transform: scale(1);
    }
    8%{
        transform: scale(1);
    }
    15%{
        transform: scale(1.1);
    }
    100%{       
         transform: scale(1);
    }
}
.sample4{
    animation: heart .8s ease 0s infinite normal;
}