@charset 'utf-8';

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

tablr,th,td{
    border: 1px solid #ccc;
    padding: 1em;

}
tablr caption{
font-size: 0,8em;
color: #666;
text-align: start; /* leftでも可*/
}
.col-1{
    width: 20%;
}

.col-2{
    width: 40%;
}

.col-3{
    width: 40%;
}
th{
    background-color:#a50;
    color: #fff;
}
