@charset "UTF-8"; 
section{background-color: #3eb6bd;}
h1{color: #fff;}
em{font-weight: bold; font-size: 2rem;}
p  {font-size: 10px;}

img{
    /*
    width: 50% ; width: 80vw; height: 50vh
    */
    width: 1000px; height: auto; 
    max-width: 100%; min-width: 50%;
    

}